body{
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
.title{
    background-color: lightgray;
    padding: 0 0 20px 0;
    margin: 0 0 10px 0;
    border-radius: 0 0 30px 30px;
}
.h1{
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    font-size: 50px !important;
    text-align: center;
}
.button-row{
    border: #000000 solid 2px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}
.button-row button{
    background-color: lightblue;
    border: unset;
    border-radius: 25px;
    font-size: large;
    padding: 5px;
    margin: 5px;
    width: 100%;
}
.button-row button:hover{
    background-color: rgb(88, 179, 209);
    border: unset;
}
.about{
    border: #000000 solid 3px;
    border-radius: 30px 0 0 30px;
}
.about h2{
    text-align: center;
}
.about p{
    text-align: center;
}
.works{
    border: #000000 solid 3px;
    border-radius: 0 30px 30px 0;
}
.works h2{
    text-align: center;
}
.works p{
    text-align: center;
}
.h2{
    color: black !important;
    font-size: 30px;
}
.team1{
    margin: 0 0 15px 0;
    justify-content: space-around;
}
.team2{
    margin: 0 0 15px 0;
    justify-content: space-around;
}
#team{
    margin: 0 0 50px 0;
}
.flory{

}
.flory h2{
    text-align: center;
}
.isu{

}
.isu h2{
    text-align: center;
}
.nagysas{
    background-color: blue;
    color: white;
    border-radius: 25px;
}
.nagysas h2{
    text-align: center;
}
.axy{
    background-color: purple;
    color: pink;
    border-radius: 25px;
}
.axy h2{
    text-align: center;
}
.axy ul{
    list-style-type: none;
    padding: 0;
}
.axy ul li{
    background-image: url('gif/dance-furry.gif');
    background-size: 6%;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 40px;
    padding-bottom: 20px;
}
body.dark-mode{
    background-color: black;
    color: white;
}
body.dark-mode .body{
    background-color: darkgray;
}