body {
    background-color: white !important;
}
h1{
    text-align: center;
    background-color: blue;
    color: white !important;
}

h3 {
    background-color: pink !important;
    text-align: left;
}

p {
    background-color: black;
    color: white;
    text-align: center;
}
.title{
    padding: 10px 0 10px 0 !important;
}

