body{
    text-align: center;
    background-image: url(/webpage_project/gif/aaa.png);
     /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2{
    color:darkorange;
    margin-bottom: 69px;
}

form{
    background-color: #3779a1;
    background-image: linear-gradient(to right,#1f3256,#2c5b82,);
    /* margin: 150px;
    margin-left: 200px;
    margin-right: 200px */
    margin-left: 500px;
    margin-right: 500px;
}
input{
    border-radius: 69px;
}
#asd{
    background-color: teal
}
